= render partial:'layouts/header'
- content_for :title, "Регистрация"
%article
  .form-horizontal
    %h3 Регистрация
    = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), class: "form-horizontal") do |f|
      = f.error_notification
      .form-inputs
        = f.input :email, 
          required: true, 
          autofocus: true,
          input_html: { class: "form-control" },
          label_html: { class: 'form-label' }
        = f.input :password,
          label: "Пароль", 
          required: true, 
          hint: ("Не меньше #{@minimum_password_length} символов"),
          input_html: { class: "form-control" },
          label_html: { class: 'form-label' }
        = f.input :password_confirmation,
          label: "Подтвердите пароль", 
          required: true,
          input_html: { class: "form-control" },
          label_html: { class: 'form-label' }
      .row
        .form-actions
          = f.button :submit, "Зарегистрироваться",
            class:"btn btn-primary"
    /= render "devise/shared/links"

